<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063062141749-5k818l75c7vha872skld413inilvmtg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063062141749-5k818l75c7vha872skld413inilvmtg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCvfux3ZTR1YvM6WAyaBSaPPwK7bJ5JguQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1063062141749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FreeFoodUniversity</string>
	<key>PROJECT_ID</key>
	<string>free-food-university</string>
	<key>STORAGE_BUCKET</key>
	<string>free-food-university.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063062141749:ios:47a45624771f9cd3796a7c</string>
</dict>
</plist>